.context-menu {
  background-color: #edeff0;
  border-radius: 0.25em;
  padding: 0.25em;
  position: absolute;

  button {
    margin: 0 0.1em;
    opacity: 0.5;
  }

  button.active {
    background: none;
    border-bottom: 1px solid #262626;
    border-radius: 0;
  }

  button.active,
  button:hover {
    opacity: 1;
  }

  .__react_component_tooltip {
    display: none;
  }
}
