.modal {
  position: absolute;
  top: 0.5em;
  right: 1em;
  bottom: 0.5em;
  left: 1em;
  outline: none;

  p {
    margin: 0 0 0.5em 0;
  }

  a {
    text-decoration: none;
    color: #4a91c2;

    &:hover {
      color: #00c3ff;

      &[href], &[tabindex] {
        cursor: pointer;
      }
    }
  }

  button {
    width: initial;
    margin: 0 0.25em;
    background: #ddd;

    &:hover, &.active {
      background: #bbb;
    }
  }

  .close {
    position: absolute;
    top: 0;
    right: -0.25em;
    padding: 0;
    color: #888;
    background: transparent;

    &:hover {
      color: #444;
      background: transparent;
    }
  }

  img {
    width: 100%;
  }
}

.modal-overlay {
  position: fixed;
  top: calc(max(50%, var(--height) / 2) - var(--height) / 2 + 2em);
  right: calc(max(50%, var(--width) / 2) - var(--width) / 2 + 2em);
  bottom: calc(max(50%, var(--height) / 2) - var(--height) / 2 + 2em);
  left: calc(max(50%, var(--width) / 2) - var(--width) / 2 + 2em);
  overflow-y: auto;

  &.help-modal {
    background: #f8f8f8;
    --width: 38em;
    --height: 29em;
  }

  &.binding-modal {
    background: #ededed;
    --width: 36em;
    --height: 22.5em;
  }
}

@import "bindings";
