.overlay .toolbar {
  display: flex;
  flex-direction: column;
  padding: 0 0 0.25em 0.25em;

  button {
    width: 100%;
  }

  &.visibility-1 {
    border-bottom-right-radius: 0;
    box-sizing: border-box;
    height: 1.8em;
    order: -1;
    padding: 0.1em;
    text-align: center;
    width: 1.8em;

    button:not(.active) {
      display: none;
    }

    button.active {
      background-color: transparent;
      cursor: unset;
    }
  }
}
