@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@media all and (min-width:760px) {body {font-size: 20px}}
@media all and (max-width:760px) {body {font-size: 19px}}
@media all and (max-width:720px) {body {font-size: 18px}}
@media all and (max-width:680px) {body {font-size: 17px}}
@media all and (max-width:640px) {body {font-size: 16px}}
@media all and (max-width:600px) {body {font-size: 15px}}
@media all and (max-width:560px) {body {font-size: 14px}}
@media all and (max-width:520px) {body {font-size: 13px}}
@media all and (max-width:400px) {body {font-size: 12px}}
@media all and (max-width:360px) {body {font-size: 11px}}
@media all and (max-width:330px) {body {font-size: 10px}}
@media all and (max-width:300px) {body {font-size: 9px}}

body {
  background-color: #262626;
  color: #262626;
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Verdana", sans-serif;
  margin: 0;
  padding: 0;
}

html, body, .container {
  height: 100%;
  width: 100%;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.canvas-container {
  position: absolute !important;
}

#BaseQBoard {
  box-shadow: #121212 0 0 1em 0.5em;
}

button {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border-radius: 0.25em;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  font: inherit;
  height: 1.5em;
  padding: 0.15em 0.27em 0.4em;
  text-align: center;
  text-decoration: none;
  vertical-align: baseline;
  width: 1.5em;

  &.active, &:hover {
    background-color: #aaaaaa99;
  }

  &.inactive, &.disabled:hover {
    background-color: transparent;
  }

  &.disabled {
    color: #26262699;
  }

  &.active, &.inactive, &.disabled:hover {
    cursor: unset;
  }

  &:focus {
    outline: none;
  }
}

.__react_component_tooltip {
  background-color: #aaa;
  font-size: 1em;
  padding: 0.25em 0.5em;
  transition: opacity 0.2s;

  &.show {
    opacity: 1;
  }
}

.button-row {
  position: relative;

  .button-row-inner {
    background: #edeff0;
    display: flex;
    flex-direction: row;
    left: 0;
    padding: 0.25em 0.25em 0.25em 0;
    position: relative;
    top: 0;
  }

  &.button-row-hover {
    .button-row-inner {
      display: none;
      left: calc(50% + 0.8em);
      position: absolute;
      top: -0.25em;
    }

    &:hover .button-row-inner {
      display: flex;
    }
  }
}

.overlay {
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  transition: opacity 0.2s;
  user-select: none;

  &:hover {
    opacity: 0.9;
    transition: opacity 0.2s;
  }

  &.visibility-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &.visibility-1 {
    display: flex;
    flex-direction: row;
  }

  &.visibility-0 {
    display: none;
  }
}

.overlay > div {
  background: #edeff0;
  padding: 0.25em;
}

.overlay .pagination {
  form {
    display: inline;
  }

  input {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: #f0f0f0;
    border: none;
    box-sizing: border-box;
    font: inherit;
    height: 1em;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    width: 0.6em;
    text-align: right;
  }

  &.visibility-2 {
    grid-column: 1 / 3;
  }

  &.visibility-1 {
    box-sizing: border-box;
    height: 1.8em;
    padding: 0.25em 0;

    button {
      display: none;
    }

    .total-pages {
      margin-right: 0.25em;
    }
  }
}

.overlay .toolbar {
  display: flex;
  flex-direction: column;
  padding: 0 0 0.25em 0.25em;

  button {
    width: 100%;
  }

  &.visibility-1 {
    border-bottom-right-radius: 0;
    box-sizing: border-box;
    height: 1.8em;
    order: -1;
    padding: 0.1em;
    width: 1.8em;
    text-align: center;

    button:not(.active) {
      display: none;
    }

    button.active {
      background-color: transparent;
      cursor: unset;
    }
  }
}

.overlay .stylebar {
  display: flex;
  flex-direction: column;
  padding: 0 0.25em 0.25em 0;

  button {
    width: 100%;
  }

  &.visibility-1 {
    display: flex;
    flex-direction: row;
    padding: 0.1em 0.15em 0.1em 0;

    button {
      padding: 0.15em 0.2em 0.4em;
    }

    & > button, .button-row:hover .button-row-inner {
      display: none;
    }
  }
}

.overlay .undoredo {
  display: flex;
  justify-content: space-between;
  padding: 0 0.25em;

  button {
    width: 100%;
  }

  &.visibility-2 {
    grid-column: 1 / 3;
  }

  &.visibility-1 {
    display: none;
  }
}

.modal {
  bottom: 0.5em;
  left: 1em;
  outline: none;
  position: absolute;
  right: 1em;
  top: 0.5em;

  p {
    margin: 0 0 0.5em 0;
  }

  a {
    color: #4a91c2;
    text-decoration: none;

    &:hover {
      color: #00c3ff;

      &[href], &[tabindex] {
        cursor: pointer;
      }
    }
  }

  button {
    background: #ddd;
    margin: 0 0.25em;
    width: initial;

    &:hover, &.active {
      background: #bbb;
    }
  }

  .close {
    background: transparent;
    color: #888;
    padding: 0;
    position: absolute;
    right: -0.25em;
    top: 0;

    &:hover {
      background: transparent;
      color: #444;
    }
  }

  img {
    width: 100%;
  }
}

.modal-overlay {
  bottom: calc(max(50%, var(--height) / 2) - var(--height) / 2 + 2em);
  left: calc(max(50%, var(--width) / 2) - var(--width) / 2 + 2em);
  overflow-y: auto;
  position: fixed;
  right: calc(max(50%, var(--width) / 2) - var(--width) / 2 + 2em);
  top: calc(max(50%, var(--height) / 2) - var(--height) / 2 + 2em);

  &.help-modal {
    --width: 38em;
    --height: 29em;
    background: #f8f8f8;
  }

  &.binding-modal {
    --width: 36em;
    --height: 21em;
    background: #ededed;
  }
}

.bindings {
  margin-bottom: 0.5em;

  .row {
    display: flex;

    &.left {
      justify-content: flex-end;
    }
  }

  .key {
    background: transparent;
    border: 2px solid #bbb;
    border-radius: 0.3em;
    box-sizing: content-box;
    height: 4em;
    margin: 0.25em;
    padding: 0;
    position: relative;
    width: 4em;

    .letter {
      color: #555;
      font-size: 0.9em;
      left: 0.25em;
      position: absolute;
      text-transform: capitalize;
      top: 0.25em;
    }

    .action {
      bottom: 0.25em;
      font-size: 0.9em;
      font-weight: bold;
      position: absolute;
      right: 0.3em;
      text-align: right;
      width: 3.9em;
    }

    i {
      display: block;
      font-size: 1.1em;
      margin-bottom: 0.1em;
    }

    // line icon
    i.fa-minus {
      bottom: 1.1em;
      position: absolute;
      right: 0;
    }

    // dotted and dashed icons
    svg {
      bottom: 1.35em;
      position: absolute;
      right: 0;
    }

    // halffill icon
    .action > div {
      position: absolute !important;
      right: 0 !important;
      bottom: 1.7em !important;
    }

    .unassigned {
      color: #555;
      font-weight: normal;
    }
  }

  button.key:hover {
    background: #ddd;
  }
}

.binding-modal {
  .binding {
    font-weight: bold;
    text-transform: capitalize;
  }

  .tools {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(7em, 1fr));
    grid-gap: 0.25em;
  }

  button {
    margin: 0;
    position: relative;
    text-align: left;

    span {
      position: absolute;
      top: 0.1em;
      left: 1.5em;
    }
  }

  // dotted and dashed icons
  svg {
    height: 1em !important;
  }

  // halffill icon
  button > div {
    display: inline;
    margin-right: 1.25em !important;
    top: 0.1em;
  }
}

.file-drop-active {
  background: #00c3ff;
}

.context-menu {
  background-color: #edeff0;
  border-radius: 0.25em;
  padding: 0.25em;
  position: absolute;

  button {
    opacity: 0.5;
    margin: 0 0.1em;
  }

  button.active {
    background: none;
    border-radius: 0;
    border-bottom: 1px solid #262626;
  }

  button.active, button:hover {
    opacity: 1;
  }

  .__react_component_tooltip {
    display: none;
  }
}
