@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

body {
  background-color: #262626;
  color: #262626;
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    "Verdana", sans-serif;
  font-size: 12px;
  font-size: clamp(9px, 2.4vw, 20px);
  margin: 0;
  padding: 0;
}

html,
body,
.container {
  height: 100%;
  width: 100%;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.canvas-container {
  position: absolute !important;
}

#BaseQBoard {
  box-shadow: #121212 0 0 1em 0.5em;
}

@import "styles/buttons";
@import "styles/overlay";
@import "styles/modals";
@import "styles/contextmenu";
